package ${package}.service.${moduleName};

import org.springframework.data.domain.Page;
import com.naen.db.dao.${moduleName}.${className}DO;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
 
public interface ${className}Service {

	Page<${className}DO> search${className}(int page, int size, String keyword) ;
	
	void delete${className}(${idType} id);
	
	${idType} save${className}(${className}DO dao);

}