#macro(ocLazyLoad)$ocLazyLoad##
#end
.state('${moduleName}.${classname}', {
		url: '/${classname}',
		title: '${className}',
		templateUrl: 'views/pages/${moduleName}/${classname}.html',
		controller: '${className}Ctrl',
		resolve: {
			lazyLoad: ['$ocLazyLoad', function($ocLazyLoad) {
				return #ocLazyLoad().load([
					{	
						name: 'AESApp',	
						files: ['js/services/${classname}.service.js','js/controllers/pages/${moduleName}/${classname}.js']
					}
				]);
			}]
		}
      })